*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.error-div{
    display: none;
}

.formulario{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    gap: 1vh;
}

.eye:hover{
    cursor: pointer;
}

.wrap-input-label{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 35px;
    width: 350px;
    align-items: center;
}